**Most of the Machine learning algorithms cannot handle categorical variables unless we convert them into numerical values.many algorithms performances are based on how categorical variables are encoded.**

### categorial Variables are divided into two types

**Nominal** (no particular order)

**ordinal** (some ordered)

#### Examples of nominal variable
1.red, yellow, pink, blue

2.singapore, japan, usa, india

3.cow, dog, cat, elephant

#### Examples of ordinal variable

1.High, Medium, low

2.strongly Agree, Agree,Neutral,disgree,and strongly Disagree

3.excellent,okey,bad

#### There are many types of Encoding Techniques as follows

1.one hot encoding

2.label encoding

3.ordinal encoding

4.helmert encoding

5.binary encoding

6.frequency encoding

7.mean encoding

8.weight of evidence encoding

9.probability ratio encoding

10.hashing ecoding

11.backward difference encoding.

12.leave one out encoding.

13.james-stain encoding

14.m-estimator encoding

15.thermometer encoder

### Preparing Data

In [37]:
import pandas as pd
import numpy as np
data = {'Temprature':['hot','cold','very hot','warm','hot','warm','warm','hot','hot','cold'],
     'color':['red','yellow','blue','blue','red','yellow','red','yellow','yellow','yellow'],
     'target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data,columns = ['Temprature','color','target'])
df

  Temprature   color  target
0        hot     red       1
1       cold  yellow       1
2   very hot    blue       1
3       warm    blue       0
4        hot     red       1
5       warm  yellow       0
6       warm     red       1
7        hot  yellow       0
8        hot  yellow       1
9       cold  yellow       1

# One hot encoding

In this method, we map each category to a vector that contains 1 and 0 denoting the presence or absence of the feature. The number of vectors depends on the number of categories for features. This method produces a lot of columns that slows down the learning significantly if the number of the category is very high for the feature. Pandas has get_dummies function, which is quite easy to use. For the sample data-frame code would be as below:

In [38]:
df = pd.get_dummies(df,prefix = ['Temp'],columns = ['Temprature'])
df

    color  target  Temp_cold  Temp_hot  Temp_very hot  Temp_warm
0     red       1          0         1              0          0
1  yellow       1          1         0              0          0
2    blue       1          0         0              1          0
3    blue       0          0         0              0          1
4     red       1          0         1              0          0
5  yellow       0          0         0              0          1
6     red       1          0         0              0          1
7  yellow       0          0         1              0          0
8  yellow       1          0         1              0          0
9  yellow       1          1         0              0          0

Usually, for Regression, we use N-1 (drop first or last column of One Hot Coded new feature ), but for classification, the recommendation is to use all N columns without as most of the tree-based algorithm builds a tree based on all available variables.

In [39]:
import pandas as pd
import numpy as np
data = {'Temprature':['hot','cold','very hot','warm','hot','warm','warm','hot','hot','cold'],
     'color':['red','yellow','blue','blue','red','yellow','red','yellow','yellow','yellow'],
     'target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data,columns = ['Temprature','color','target'])
df

  Temprature   color  target
0        hot     red       1
1       cold  yellow       1
2   very hot    blue       1
3       warm    blue       0
4        hot     red       1
5       warm  yellow       0
6       warm     red       1
7        hot  yellow       0
8        hot  yellow       1
9       cold  yellow       1

# Label Encoding

In [40]:
from sklearn.preprocessing import LabelEncoder
df['Temprature_label_encoded'] = LabelEncoder().fit_transform(df['Temprature'])
df

  Temprature   color  target  Temprature_label_encoded
0        hot     red       1                         1
1       cold  yellow       1                         0
2   very hot    blue       1                         2
3       warm    blue       0                         3
4        hot     red       1                         1
5       warm  yellow       0                         3
6       warm     red       1                         3
7        hot  yellow       0                         1
8        hot  yellow       1                         1
9       cold  yellow       1                         0

In [41]:
import pandas as pd
import numpy as np
data = {'Temprature':['hot','cold','very hot','warm','hot','warm','warm','hot','hot','cold'],
     'color':['red','yellow','blue','blue','red','yellow','red','yellow','yellow','yellow'],
     'target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data,columns = ['Temprature','color','target'])
df

  Temprature   color  target
0        hot     red       1
1       cold  yellow       1
2   very hot    blue       1
3       warm    blue       0
4        hot     red       1
5       warm  yellow       0
6       warm     red       1
7        hot  yellow       0
8        hot  yellow       1
9       cold  yellow       1

# Ordinal Encoding

We do Ordinal encoding to ensure the encoding of variables retains the ordinal nature of the variable. This is reasonable only for ordinal variables, as I mentioned at the beginning of this article. This encoding looks almost similar to Label Encoding but slightly different as Label coding would not consider whether variable is ordinal or not and it will assign sequence of integers

**as per the order of data (Pandas assigned Hot (0), Cold (1), “Very Hot” (2) and Warm (3)) or**

**as per alphabetical sorted order (scikit-learn assigned Cold(0), Hot(1), “Very Hot” (2) and Warm (3)).**

If we consider in the temperature scale as the order, then the ordinal value should from cold to “Very Hot. “ Ordinal encoding will assign values as ( Cold(1) <Warm(2)<Hot(3)<”Very Hot(4)). Usually, we Ordinal Encoding is done starting from 1.

In [42]:
Temp_dict = {
    'cold':1,
    'warm':2,
    'hot':3,
    'very hot':4
}

df['Temprature_ordinal'] = df.Temprature.map(Temp_dict)
df

  Temprature   color  target  Temprature_ordinal
0        hot     red       1                   3
1       cold  yellow       1                   1
2   very hot    blue       1                   4
3       warm    blue       0                   2
4        hot     red       1                   3
5       warm  yellow       0                   2
6       warm     red       1                   2
7        hot  yellow       0                   3
8        hot  yellow       1                   3
9       cold  yellow       1                   1

In [43]:
import pandas as pd
import numpy as np
data = {'Temprature':['hot','cold','very hot','warm','hot','warm','warm','hot','hot','cold'],
     'color':['red','yellow','blue','blue','red','yellow','red','yellow','yellow','yellow'],
     'target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data,columns = ['Temprature','color','target'])
df

  Temprature   color  target
0        hot     red       1
1       cold  yellow       1
2   very hot    blue       1
3       warm    blue       0
4        hot     red       1
5       warm  yellow       0
6       warm     red       1
7        hot  yellow       0
8        hot  yellow       1
9       cold  yellow       1

# Helmert Encoding

In this encoding, the mean of the dependent variable for a level is compared to the mean of the dependent variable over all previous levels.

The version in category_encoders is sometimes referred to as Reverse Helmert Coding. The mean of the dependent variable for a level is compared to the mean of the dependent variable over all previous levels. Hence, the name ‘reverse’ is used to differentiate from forward Helmert coding.

In [44]:
import category_encoders as ce
encoder = ce.HelmertEncoder(cols = ['Temprature'],drop_invariant=True)
dfh = encoder.fit_transform(df['Temprature'])
df = pd.concat([df,dfh],axis=1)
df

/home/sandeep/anaconda3/lib/python3.7/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

  Temprature   color  target  Temprature_0  Temprature_1  Temprature_2
0        hot     red       1          -1.0          -1.0          -1.0
1       cold  yellow       1           1.0          -1.0          -1.0
2   very hot    blue       1           0.0           2.0          -1.0
3       warm    blue       0           0.0           0.0           3.0
4        hot     red       1          -1.0          -1.0          -1.0
5       warm  yellow       0           0.0           0.0           3.0
6       warm     red       1           0.0           0.0           3.0
7        hot  yellow       0          -1.0          -1.0          -1.0
8        hot  yellow       1          -1.0          -1.0          -1.0
9       cold  yellow       1           1.0          -1.0          -1.0

In [45]:
import pandas as pd
import numpy as np
data = {'Temprature':['hot','cold','very hot','warm','hot','warm','warm','hot','hot','cold'],
     'color':['red','yellow','blue','blue','red','yellow','red','yellow','yellow','yellow'],
     'target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data,columns = ['Temprature','color','target'])
df

  Temprature   color  target
0        hot     red       1
1       cold  yellow       1
2   very hot    blue       1
3       warm    blue       0
4        hot     red       1
5       warm  yellow       0
6       warm     red       1
7        hot  yellow       0
8        hot  yellow       1
9       cold  yellow       1

# Binary Encoding

Binary encoding converts a category into binary digits. Each binary digit creates one feature column. If there are n unique categories, then binary encoding results in the only log(base 2)ⁿ features. In this example, we have four features; thus, the total number of the binary encoded features will be three features. Compared to One Hot Encoding, this will require fewer feature columns (for 100 categories One Hot Encoding will have 100 features while for Binary encoding, we will need just seven features).
For Binary encoding, one has to follow the following steps:

**The categories are first converted to numeric order starting from 1 (order is created as categories appear in a dataset and do not mean any ordinal nature)**

**Then those integers are converted into binary code, so for example 3 becomes 011, 4 becomes 100**

**Then the digits of the binary number form separate columns.**

**Refer to the below diagram for better intuition.**

![alt text](binary.png)

In [46]:
import category_encoders as ce
encoder = ce.BinaryEncoder(cols = ['Temprature'])
dfbin = encoder.fit_transform(df['Temprature'])
df = pd.concat([df,dfbin],axis=1)
df

/home/sandeep/anaconda3/lib/python3.7/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

  Temprature   color  target  Temprature_0  Temprature_1  Temprature_2
0        hot     red       1             0             0             1
1       cold  yellow       1             0             1             0
2   very hot    blue       1             0             1             1
3       warm    blue       0             1             0             0
4        hot     red       1             0             0             1
5       warm  yellow       0             1             0             0
6       warm     red       1             1             0             0
7        hot  yellow       0             0             0             1
8        hot  yellow       1             0             0             1
9       cold  yellow       1             0             1             0

In [47]:
import pandas as pd
import numpy as np
data = {'Temprature':['hot','cold','very hot','warm','hot','warm','warm','hot','hot','cold'],
     'color':['red','yellow','blue','blue','red','yellow','red','yellow','yellow','yellow'],
     'target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data,columns = ['Temprature','color','target'])
df

  Temprature   color  target
0        hot     red       1
1       cold  yellow       1
2   very hot    blue       1
3       warm    blue       0
4        hot     red       1
5       warm  yellow       0
6       warm     red       1
7        hot  yellow       0
8        hot  yellow       1
9       cold  yellow       1

# Frequency Encoding
It is a way to utilize the frequency of the categories as labels. In the cases where the frequency is related somewhat with the target variable, it helps the model to understand and assign the weight in direct and inverse proportion, depending on the nature of the data. Three-step for this :

**Select a categorical variable you would like to transform**

**Group by the categorical variable and obtain counts of each category**

**Join it back with the training dataset**

Pandas code can be constructed as below:

In [48]:
fe = df.groupby('Temprature').size()/len(df)

In [49]:
fe

Temprature
cold        0.2
hot         0.4
very hot    0.1
warm        0.3
dtype: float64

In [50]:
df.loc[:,'Temp_freq_encode'] = df['Temprature'].map(fe)
df

  Temprature   color  target  Temp_freq_encode
0        hot     red       1               0.4
1       cold  yellow       1               0.2
2   very hot    blue       1               0.1
3       warm    blue       0               0.3
4        hot     red       1               0.4
5       warm  yellow       0               0.3
6       warm     red       1               0.3
7        hot  yellow       0               0.4
8        hot  yellow       1               0.4
9       cold  yellow       1               0.2

# Mean Encoding

Mean Encoding or Target Encoding is one viral encoding approach followed by Kagglers. There are many variations of this. Here I will cover the basic version and smoothing version. Mean encoding is similar to label encoding, except here labels are correlated directly with the target. For example, in mean target encoding for each category in the feature label is decided with the mean value of the target variable on a training data. This encoding method brings out the relation between similar categories, but the connections are bounded within the categories and target itself. The advantages of the mean target encoding are that it does not affect the volume of the data and helps in faster learning. Usually, Mean encoding is notorious for over-fitting; thus, a regularization with cross-validation or some other approach is a must on most occasions. Mean encoding approach is as below:

1.Select a categorical variable you would like to transform

2. Group by the categorical variable and obtain aggregated sum over the “Target” variable. (total number of 1’s for each category in ‘Temperature’)

3. Group by the categorical variable and obtain aggregated count over “Target” variable

4. Divide the step 2 / step 3 results and join it back with the train.

![alt text](mean.png)

In [52]:
import pandas as pd
import numpy as np
data = {'Temprature':['hot','cold','very hot','warm','hot','warm','warm','hot','hot','cold'],
     'color':['red','yellow','blue','blue','red','yellow','red','yellow','yellow','yellow'],
     'target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data,columns = ['Temprature','color','target'])
df

  Temprature   color  target
0        hot     red       1
1       cold  yellow       1
2   very hot    blue       1
3       warm    blue       0
4        hot     red       1
5       warm  yellow       0
6       warm     red       1
7        hot  yellow       0
8        hot  yellow       1
9       cold  yellow       1

In [54]:
mean_encode = df.groupby('Temprature')['target'].mean()
print(mean_encode)
df.loc[:,'Temprature_mean_enc'] = df['Temprature'].map(mean_encode)
df

Temprature
cold        1.000000
hot         0.750000
very hot    1.000000
warm        0.333333
Name: target, dtype: float64

  Temprature   color  target  Temprature_mean_enc
0        hot     red       1             0.750000
1       cold  yellow       1             1.000000
2   very hot    blue       1             1.000000
3       warm    blue       0             0.333333
4        hot     red       1             0.750000
5       warm  yellow       0             0.333333
6       warm     red       1             0.333333
7        hot  yellow       0             0.750000
8        hot  yellow       1             0.750000
9       cold  yellow       1             1.000000